
.calendar {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.75rem;
}

.seven-cols {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0;
}

.dates-row {
    background-color: #cccccc;
    font-size: 0.6rem;
    text-align: right;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.dates-row span {
    padding-right: 4px;
    border-right: 1px solid black;
}

.events-row {
    border-left: 1px solid black;
}
.events-row span {
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px solid black;
    margin: 0;
}

.event {
    border: 1px solid black;
    border-radius: 2px;
    background-color: purple;
    color: white;
    font-size: 0.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 1rem;
}

.calendar a:link, .calendar a:hover, .calendar a:visited {
    color: white;
}

.calendar a.month-link:link, .calendar a.month-link:hover, .calendar a.month-link:visited {
    color: black;
}

.calendar-footer {
    border-top: 1px solid black;
    text-align: right;
}
.calendar-footer a:link, .calendar-footer a:hover, .calendar-footer a:visited {
    color: black;
}