
footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 12px;
    font-family: 'Odachi', cursive;
}

header {
    color: white;
    margin: 0;
    padding: 12px;
}

.footer-link {
    margin: 0;
    font-style: italic;
    display: block;
}
.footer-link:link {
    color: white;
}
.footer-link:visited {
    color: grey;
}

.footer-col1 {
    margin-top: 16px;
    text-align: right;
}

.footer-col2 {
    margin-top: 16px;
    text-align: left;
}

.copyright {
    margin: 0;
    padding-top: 2em;
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .footer-col1, .footer-col2 {
        margin-top: 16px;
        text-align: center;
    }
}