
html, body {
    height: 100%; /* full-screen hero */
    margin: 0; /* full-screen hero */
}

/* add a background with opacity using a pseudo-element */
div.hero-background {
    min-height: 100%;
    margin: 0;
}


div.hero-background::after {
    content: "";
    background: url('../img/kpc-5d76d267aedb7.image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.hero {
    opacity: 1.0;
    color: white;
    text-shadow: 1px 1px 8px black;
    padding-top: 64px;
    text-transform: uppercase;
}

.hero-intro {
    text-align: center;
}
.hero h3 {
    margin-top: 64px;
    display: block;
}

.hero-title {
    display: block;
    font-size: 8.0rem;
    text-align: center;
    font-family: 'Odachi', cursive;
    -webkit-text-stroke: 1px black;
}

@media only screen and (max-width: 768px) {

    .hero-title {
        font-size: 4.0rem;
    }
    .hero {
        padding-top: 0;
    }
    .hero h3 {
        margin-top: 8px;
    }
}