
nav {
    font-family: 'Odachi', cursive;
    color: white;
    text-shadow: 0px 0px 2px black;
    vertical-align: middle;
}

nav a:link, nav a:visited {
    color: white;
}

.navbar-brand {
    font-size: 3.0rem;    
}
.nav-item {
    font-size: 1.5rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav ul {
    margin-left: auto;
    margin-right: auto;
}

nav.navbar > a.navbar-brand {
    display: none;
}

.nav-link {
    padding-top: 1.5rem;
}

.navbar-brand {
    margin-right: 0;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

@media only screen and (max-width: 992px) {
    nav.navbar > a.navbar-brand {
        display: inline-block;
    }

    li.nav-item a.navbar-brand {
        display: none;
    }
}