@import url('https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap');
@font-face {
    font-family: 'Odachi';
    src: url('../font/odachi.woff') format('woff'); /* Pretty Modern Browsers */
}

div.content-row {
    margin: 0;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 80px;
    position: relative;
}

div.alternating-background:nth-child(even) {
    background: white;
    position: relative;
}

/* add a background with opacity using a pseudo-element */
div.alternating-background:nth-child(odd)::after {
    content: "";
    background: white url('../img/bobcat.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.carousel-item > img {
    width: 100%;
}

form.boosters-signup span.input-group-text {
    min-width: 150px;
}

